@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.luke {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  margin: 1rem;

  img {
    width: 250px;
  }
  @media only screen and (max-width: 1760px){
    img{
      width: 200px
    }
  }
}

.rist {
  animation: shake 0.5s 1;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.front {
  backface-visibility: hidden;
  position: relative;

  p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: repeating-linear-gradient(
                    45deg,
                    white,
                    red 10px,
                    white 10px,
                    red 20px
    );
    color: black;
    font-weight: bolder;
    font-size: 20px;
    padding:0;
    margin: 0;
  }
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);

  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    background-size: cover;

    img {
      z-index: -1;
    }
    h2{
      color: red;
    }
    p{
      color: red;
    }
  }
}


.cardFlip {
  transform: rotateY(180deg);
  z-index: 1;
}