@keyframes colorChange {
  from {
    background-color: green;
  }
  to {
    background-color: red
  }
}

.container{
  position: relative;
  background-color: green;
  animation: colorChange 5s infinite alternate;
  margin: 3rem;
  h1, h2{
    color: white;
  }
  @media only screen and (max-width: 490px) {
    h1, h2{
      font-size: 1.5rem;
    }
  }
}